header {
  background: #1b5e20;
  color: white;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

header a:hover {
  color: #c8e6c9;
}

@media(max-width:768px){
  header{
    flex-direction: column;
  }
}