.header {
  padding: 15px 40px;
  background: #1b4332;
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
}

.nav a {
  color: #d8f3dc;
  text-decoration: none;
  margin-right: 15px;
  transition: 0.3s;
}

.nav a:hover {
  color: white;
  border-bottom: 2px solid #95d5b2;
}