.section {
  padding: 50px;
  background: #f0fff4;
}

.search {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #b7e4c7;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #d8f3dc;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
}