/* ================= FOOTER ================= */

.footer {
  background: #bfe4d4;
  color: white;
  padding: 40px 50px 15px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.social-icons a {
  margin-right: 12px;
  color: white;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 25px;
  font-size: 13px;
}
