/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 50px;
  background: #bfe4d4;
  color: #2b3830;

  position: relative;
}

/* Logo */
.logo {
  color: #0f0e0e;
  font-size: 18px;
  font-weight: 600;
}

/* Desktop menu */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: #2b3830;
  text-decoration: none;
  font-size: 18px;
}

/* Register button */
.register-btn {
  background: #2ecc71;
  padding: 6px 14px;
  border-radius: 20px;
  color: #000;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;

  position: absolute;
  right: 20px;
  top: 18px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #2b3830; /* same tone as navbar */
  transition: 0.3s;
}

/* Click animation + BLACK color */
.hamburger.open span {
  background: black;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile menu */
.mobile-nav {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;

  background-color: #bfe4d4; /* same as navbar */
  list-style: none;
  text-align: center;
}

.mobile-nav li {
  padding: 14px 0;
}

.mobile-nav a {
  color: #000;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
