/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 50px;
  background: #bfe4d4;
  color: #2b3830;

  position: relative;
}

/* Logo */
.logo {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

/* Desktop menu */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Register button */
.register-btn {
  background: #2ecc71;
  padding: 6px 14px;
  border-radius: 20px;
}

/* Navbar links */
.navbar a {
  color: rgb(44, 51, 48);
  text-decoration: none;
  font-size: 20px;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
  transition: 0.3s;
}

/* Animation */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile menu */
.mobile-nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #2f4f4f;
  list-style: none;
  text-align: center;
}

.mobile-nav li {
  padding: 14px 0;
}

.mobile-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* Small screens */
@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 25px 20px;
  }
}

/* Responsive */
@media (max-width: 768px) {

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
} 
